.DS_Store
**/node_modules
dist
*.local
.vite-inspect
.remote-assets
components.d.ts
**/dist
# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
